// COLOR VARIABLES
$color-primary: #2b2516;
$color-primary-dark: #1a0201;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

:root {
    // COLOR VARIABLES
    --color-primary: #2b2516; //light theme #FBDB89
    --color-primary-notShiny: rgba(251, 219, 137, 0.7);
    --color-primary-dark: #1a0201; // light theme #F48982

    --color-primary-cta: #867753; // light theme #FBDB89
    --color-primary-dark-cta: #75211d; // light theme #F48982

    --color-grey-light-1: #f9f7f6; // light theme #fff
    --color-grey-1: #272523;
    --color-grey-2: #1b1b1b;
    --color-grey-3: #161616;

    --color-main-text: #dac6bf; // light theme #655A56
    --color-secondary-text: #b1a49f; // light theme #968B87

    --color-btn: #F59A83;
}